.dashbord-header-container {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dashbord-header-btn {
    padding: 0.8em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid rgba(114, 39, 235, 0.74);;
    background-color: rgba(114, 39, 235, 0.74);;
}
.dashbord-header-btn:hover {
    color: rgba(82, 8, 202, 0.74);;
    border: 1px solid rgba(81, 9, 197, 0.74);;
    background-color: #F0F2F5;
}
.dashbord-header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashbord-header-icon {
    width: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.dashbord-header-avatar {
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
}